@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hide-scroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scroll::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

body {
  overflow: hidden;
}

.gender {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 2;
  font-size: 6vw;
  color: #bbada4;
  font-family: "ClashDisplay-SemiBold";
  text-shadow: 2px 2px 2px #000;
  mix-blend-mode: difference;
}